<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list class="emList">
          <ion-list-header class="boldSt">Engine Manual</ion-list-header>
          <ion-note>manual@dvmar.com</ion-note>
          <ion-list-header class="regularSt">CAMION</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of camions; let i = index">
            <ion-item (click)="selectedIndex = i;selectedList=0;" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i && selectedList==0">
              <ion-icon slot="start" src="assets/camion.svg"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list class="emList">
          <ion-list-header class="regularSt">MACHINES</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of machines; let i = index">
            <ion-item (click)="selectedIndex = i;selectedList=1;" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i && selectedList==1">
              <ion-icon slot="start" src="assets/chargeuse.svg"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list class="emList">
          <ion-list-header class="regularSt">BULLDOZER </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of bulldozer; let i = index">
            <ion-item (click)="selectedIndex = i;selectedList=2" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i && selectedList == 2">
              <ion-icon slot="start" src="assets/bulldozer.svg"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
